* {
  margin: 0;
  padding: 0;
}

.navbar-brand {
    font-weight: 500;
}

.nav_ul li {
  padding: 0 0.8rem;
}

.nav-link:hover {
  font-size: 1rem;
  color: #000;
  font-weight: 500;
}



@media (max-width: 767.98px) {
  .welcome-msg {
    display: none !important;
  }
}
